body{
	text-align: center;
	background-color: black;
}
.demo-content h2{
	font-size: 20px;
	color: red;
	text-transform: capitalize;

}
body  p{
	font-size: 15px;
	color: white;
	text-align: center;
}